body{
    background-color:rgb(162, 98, 223);
}

body{background-position-x: center;}
body{border-style: double;}

body{padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 200px;}



